{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Login Page{% endblock %}</h1>
    <!-- https://nickjanetakis.com/blog/fix-missing-csrf-token-issues-with-flask If needed for debugging -->
    <form method="POST" action="/login" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}
            <br \>
            {{ form.email() }}
        </p>

        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}
